# Scikit-Learn Jupyter Notebook
<hr>

<a href="https://scikit-learn.org/stable/tutorial/basic/tutorial.html"> Link to Scikit-Learn Official website</a><p>
https://www.tutorialspoint.com/scikit_learn/index.htm
<hr>

## Overview
<b>Scikit-Learn</b> is a free and useful machine learning library for Python. It contains many efficient unsupervised and supervised learning algorithms. This library also built upon some of the technology that we know like NumPy.

<b>The functionality that scikit-learn provides include:</b>
<ul>
<li><b>Regression</b></li>
<li><b>Classification</b></li>
<li><b>Clustering</b></li>
<li><b>Model selection</b></li>
<li><b>Preprocessing</b></li></ul>
<b>Reference:</b> 
<a href="https://www.codecademy.com/article/scikit-learn">Codecademy</a>

## Classification

### Set Up

In [8]:
# scikit learn
import sklearn as sk

# Numerical arrays.
import numpy as np

# Data frames.
import pandas as pd

# Plotting.
import matplotlib.pyplot as plt

# Logistic regression.
import sklearn.linear_model as lm

# K nearest neaighbours.
import sklearn.neighbors as nei

# Helper functions.
import sklearn.model_selection as mod

# Fancier, statistical plots.
import seaborn as sns

In [9]:
# Standard plot size.
plt.rcParams['figure.figsize'] = (15, 10)

# Standard colour scheme.
plt.style.use('ggplot')

### Student Dataset

In [12]:
# Load the student data set from a URL.
st = pd.read_csv("https://raw.githubusercontent.com/PantareeBew/EmergingTechAssessment/main/student-mat.csv?token=ALQVXCJIPIN3TFCEERIULDTBZTGYM")

In [13]:
# Have a look at the student data.
st

    school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
0    GP;"F";18;"U";"GT3";"A";4;4;"at_home";"teacher...
1    GP;"F";17;"U";"GT3";"T";1;1;"at_home";"other";...
2    GP;"F";15;"U";"LE3";"T";1;1;"at_home";"other";...
3    GP;"F";15;"U";"GT3";"T";4;2;"health";"services...
4    GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"h...
..                                                 ...
390  MS;"M";20;"U";"LE3";"A";2;2;"services";"servic...
391  MS;"M";17;"U";"LE3";"T";3;1;"services";"servic...
392  MS;"M";21;"R";"GT3";"T";1;1;"other";"other";"c...
393  MS;"M";18;"R";"LE3";"T";3;2;"services";"other"...
394  MS;"M";19;"U";"LE3";"T";1;1;"other";"at_home";...

[395 rows x 1 columns]